* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: radial-gradient(circle at top, #000000, #1b1b1b);
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: z00vh;
  margin: 0;
  padding-top: 120px;
}
